-- CreateTable
CREATE TABLE "casts" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "age" INTEGER NOT NULL,
    "profile" TEXT,
    "image_url" TEXT NOT NULL,
    "email" TEXT,
    "login_password" TEXT,
    "manager_comment" TEXT,
    "catch_copy" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "ai_summary" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "casts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stores" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "phone" TEXT,
    "catch_copy" TEXT,
    "image_url" TEXT,
    "theme_color" TEXT,
    "tags" TEXT[],
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "line_id" TEXT,
    "line_url" TEXT,
    "contact_email" TEXT,
    "notification_email" TEXT,
    "business_hours" TEXT,
    "reception_hours" TEXT,
    "external_url" TEXT,
    "use_external_url" BOOLEAN NOT NULL DEFAULT false,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "stores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruit_pages" (
    "id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "section_key" TEXT NOT NULL,
    "content" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "recruit_pages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "page_requests" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "reference_urls" JSONB DEFAULT '[]',
    "sections" JSONB DEFAULT '[]',
    "status" TEXT NOT NULL DEFAULT 'draft',
    "thumbnail_url" TEXT,
    "target_store_slugs" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "page_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_top_configs" (
    "id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "config" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "store_top_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "first_time_configs" (
    "id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "config" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "first_time_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Schedule" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "work_date" TIMESTAMP(3) NOT NULL,
    "start_time" TIMESTAMP(3) NOT NULL,
    "end_time" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Schedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reviews" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "user_name" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "review_tags" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "review_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GalleryItem" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "image_url" TEXT NOT NULL,
    "caption" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GalleryItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CastProfile" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CastProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feature_master" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feature_master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cast_features" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "personality_id" TEXT,
    "appearance_id" TEXT,
    "mbti_id" TEXT,
    "face_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cast_features_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cast_store_memberships" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "is_main" BOOLEAN NOT NULL DEFAULT false,
    "priority" INTEGER,
    "start_date" DATE NOT NULL,
    "end_date" DATE,

    CONSTRAINT "cast_store_memberships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Badge" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Badge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CastBadge" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "badge_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CastBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "blogs" (
    "id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'published',
    "published_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "blogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "blog_images" (
    "id" TEXT NOT NULL,
    "blog_id" TEXT NOT NULL,
    "image_url" TEXT NOT NULL,

    CONSTRAINT "blog_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "blog_tags" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "blog_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Video" (
    "id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Video_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VideoCast" (
    "id" TEXT NOT NULL,
    "video_id" TEXT NOT NULL,
    "cast_id" TEXT NOT NULL,

    CONSTRAINT "VideoCast_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VideoTag" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "VideoTag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VideoFeeling" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "VideoFeeling_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RecruitApplication" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "age" TEXT,
    "height" TEXT,
    "weight" TEXT,
    "address" TEXT,
    "message" TEXT,
    "store" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "simulationResult" JSONB,
    "details" JSONB,
    "adminMemo" TEXT,
    "interviewDate" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RecruitApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RecruitPhoto" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "applicationId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RecruitPhoto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "price_configs" (
    "id" TEXT NOT NULL,
    "store_id" TEXT NOT NULL,
    "hero_image_url" TEXT,
    "prohibitions" JSONB DEFAULT '[]',
    "faqs" JSONB DEFAULT '[]',
    "cancellation_policy" JSONB,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "price_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "courses" (
    "id" TEXT NOT NULL,
    "price_config_id" TEXT NOT NULL,
    "course_key" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "icon" TEXT,
    "extension_per_30min" INTEGER NOT NULL DEFAULT 6000,
    "designation_fee_first" INTEGER NOT NULL DEFAULT 1000,
    "designation_fee_note" TEXT,
    "notes" TEXT,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "courses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "course_plans" (
    "id" TEXT NOT NULL,
    "course_id" TEXT NOT NULL,
    "minutes" INTEGER NOT NULL,
    "price" INTEGER NOT NULL,
    "sub_label" TEXT,
    "discount_info" TEXT,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "course_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transport_areas" (
    "id" TEXT NOT NULL,
    "price_config_id" TEXT NOT NULL,
    "area" TEXT NOT NULL,
    "price" INTEGER,
    "label" TEXT NOT NULL,
    "note" TEXT,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "transport_areas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "price_options" (
    "id" TEXT NOT NULL,
    "price_config_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "price" INTEGER NOT NULL,
    "is_relative" BOOLEAN NOT NULL DEFAULT false,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "price_options_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campaigns" (
    "id" TEXT NOT NULL,
    "price_config_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "image_url" TEXT,
    "need_entry" BOOLEAN NOT NULL DEFAULT false,
    "accent_text" TEXT,
    "price_info" TEXT,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campaigns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "role" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_amenities" (
    "id" UUID NOT NULL,
    "name" TEXT,

    CONSTRAINT "lh_amenities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_areas" (
    "city_id" TEXT,
    "id" TEXT NOT NULL,
    "name" TEXT,

    CONSTRAINT "lh_areas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_article_hotels" (
    "article_id" TEXT,
    "hotel_id" UUID
);

-- CreateTable
CREATE TABLE "lh_article_tags" (
    "article_id" TEXT,
    "tag" TEXT
);

-- CreateTable
CREATE TABLE "lh_cities" (
    "count" INTEGER,
    "id" TEXT NOT NULL,
    "name" TEXT,
    "prefecture_id" TEXT,
    "description" TEXT,

    CONSTRAINT "lh_cities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_feature_articles" (
    "article_date" TEXT,
    "content" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "id" TEXT NOT NULL,
    "image_url" TEXT,
    "prefecture_id" TEXT,
    "summary" TEXT,
    "title" TEXT,

    CONSTRAINT "lh_feature_articles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_hotel_amenities" (
    "amenity_id" UUID NOT NULL,
    "hotel_id" UUID NOT NULL,

    CONSTRAINT "lh_hotel_amenities_pkey" PRIMARY KEY ("hotel_id","amenity_id")
);

-- CreateTable
CREATE TABLE "lh_hotel_images" (
    "category" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "hotel_id" UUID,
    "id" UUID NOT NULL,
    "sort_order" INTEGER,
    "url" TEXT,

    CONSTRAINT "lh_hotel_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_hotel_services" (
    "hotel_id" UUID NOT NULL,
    "service_id" UUID NOT NULL,

    CONSTRAINT "lh_hotel_services_pkey" PRIMARY KEY ("hotel_id","service_id")
);

-- CreateTable
CREATE TABLE "lh_hotels" (
    "address" TEXT,
    "area_id" TEXT,
    "city_id" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "description" TEXT,
    "distance_from_station" TEXT,
    "id" UUID NOT NULL,
    "image_url" TEXT,
    "min_price_rest" INTEGER,
    "min_price_stay" INTEGER,
    "name" TEXT,
    "phone" TEXT,
    "place_id" TEXT,
    "prefecture_id" TEXT,
    "rating" DECIMAL,
    "rest_price_max_weekday" INTEGER,
    "rest_price_max_weekend" INTEGER,
    "rest_price_min_weekday" INTEGER,
    "rest_price_min_weekend" INTEGER,
    "review_count" INTEGER,
    "room_count" INTEGER,
    "status" TEXT,
    "stay_price_max_weekday" INTEGER,
    "stay_price_max_weekend" INTEGER,
    "stay_price_min_weekday" INTEGER,
    "stay_price_min_weekend" INTEGER,
    "website" TEXT,
    "price_details" JSONB,
    "access_info" JSONB,
    "raw_description" TEXT,
    "ai_description" TEXT,
    "ai_summary" TEXT,
    "ai_pros_cons" JSONB,
    "review_snippets" JSONB,
    "rating_exterior" DECIMAL,
    "rating_price" DECIMAL,
    "rating_cleanliness" DECIMAL,
    "rating_bath" DECIMAL,
    "rating_service" DECIMAL,

    CONSTRAINT "lh_hotels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_purposes" (
    "id" UUID NOT NULL,
    "name" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lh_purposes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_hotel_purposes" (
    "id" UUID NOT NULL,
    "hotel_id" UUID,
    "purpose_id" UUID,

    CONSTRAINT "lh_hotel_purposes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_prefectures" (
    "count" INTEGER,
    "id" TEXT NOT NULL,
    "name" TEXT,
    "description" TEXT,

    CONSTRAINT "lh_prefectures_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_review_photos" (
    "category" TEXT,
    "id" UUID NOT NULL,
    "review_id" UUID,
    "url" TEXT,

    CONSTRAINT "lh_review_photos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_reviews" (
    "cleanliness" INTEGER,
    "content" TEXT,
    "cost" INTEGER,
    "service" INTEGER,
    "design" INTEGER,
    "facilities" INTEGER,
    "rating" INTEGER,
    "created_at" TIMESTAMPTZ(6),
    "hotel_id" UUID,
    "id" UUID NOT NULL,
    "review_date" DATE,
    "room_number" TEXT,
    "rooms" INTEGER,
    "stay_type" TEXT,
    "user_name" TEXT,
    "value" INTEGER,
    "helpful_count" INTEGER DEFAULT 0,
    "is_cast" BOOLEAN DEFAULT false,
    "is_recommended" BOOLEAN DEFAULT true,

    CONSTRAINT "lh_reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lh_services" (
    "id" UUID NOT NULL,
    "name" TEXT,

    CONSTRAINT "lh_services_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reservations" (
    "cast_id" UUID,
    "client_nickname" TEXT,
    "consent_date" TEXT,
    "consent_log_id" TEXT,
    "consent_text_snapshot" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "customer_name" TEXT,
    "date_time" TEXT,
    "email" TEXT,
    "id" UUID NOT NULL,
    "is_over_18" BOOLEAN,
    "notes" TEXT,
    "phone" TEXT,
    "progress_json" JSONB,
    "reservation_datetime" TEXT,
    "status" TEXT,
    "store_id" UUID,
    "therapist_name" TEXT,
    "updated_at" TIMESTAMPTZ(6),
    "completed_at" TIMESTAMPTZ(6),
    "visit_count" INTEGER,

    CONSTRAINT "reservations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "review_tag_links" (
    "created_at" TIMESTAMPTZ(6),
    "id" UUID NOT NULL,
    "review_id" UUID,
    "tag_id" UUID,

    CONSTRAINT "review_tag_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "review_tag_master" (
    "category" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "id" UUID NOT NULL,
    "is_active" BOOLEAN,
    "name" TEXT,

    CONSTRAINT "review_tag_master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reviews_with_tags_temp" (
    "cast_id" UUID,
    "comment" TEXT,
    "created_at" TIMESTAMP(6),
    "rating" INTEGER,
    "tags" TEXT,
    "user_name" TEXT
);

-- CreateTable
CREATE TABLE "video_hash_tags" (
    "id" UUID NOT NULL,
    "tag" TEXT,
    "video_id" UUID,

    CONSTRAINT "video_hash_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "video_intuitive_tags" (
    "id" UUID NOT NULL,
    "tag" TEXT,
    "video_id" UUID,

    CONSTRAINT "video_intuitive_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_cast_reflection" (
    "created_at" TIMESTAMPTZ(6),
    "id" UUID NOT NULL,
    "next_action" TEXT,
    "reflection_data" JSONB,
    "reservation_id" UUID,
    "safety_score" INTEGER,
    "satisfaction" INTEGER,

    CONSTRAINT "workflow_cast_reflection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_counseling" (
    "answers" JSONB,
    "created_at" TIMESTAMPTZ(6),
    "id" UUID NOT NULL,
    "reservation_id" UUID,

    CONSTRAINT "workflow_counseling_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_post_survey" (
    "created_at" TIMESTAMPTZ(6),
    "id" UUID NOT NULL,
    "overall_satisfaction" TEXT,
    "reservation_id" UUID,
    "survey_data" JSONB,

    CONSTRAINT "workflow_post_survey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_reflection" (
    "created_at" TIMESTAMPTZ(6),
    "customer_analysis" TEXT,
    "customer_traits" JSONB,
    "has_incident" BOOLEAN,
    "id" UUID NOT NULL,
    "improvement_points" JSONB,
    "incident_detail" TEXT,
    "next_action" TEXT,
    "reservation_id" UUID,
    "safety_score" INTEGER,
    "satisfaction" INTEGER,
    "session_id" TEXT,
    "success_memo" TEXT,
    "success_points" JSONB,
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "workflow_reflection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_survey" (
    "arrival_support" TEXT,
    "block_a_other" TEXT,
    "block_b_other" TEXT,
    "block_c_other" TEXT,
    "block_d_other" TEXT,
    "block_e_other" TEXT,
    "booking_ease" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "desired_hp_content" JSONB,
    "desired_services" JSONB,
    "device_type" TEXT,
    "form_version" TEXT,
    "free_text" TEXT,
    "good_points" JSONB,
    "id" UUID NOT NULL,
    "improvement_points" JSONB,
    "overall_satisfaction" TEXT,
    "price_satisfaction" TEXT,
    "recommend_intent" TEXT,
    "repeat_intent" TEXT,
    "reservation_id" UUID,
    "search_keyword" TEXT,
    "service_impression" JSONB,
    "session_id" TEXT,
    "site_usability" TEXT,
    "skipped_flag" BOOLEAN,
    "source" TEXT,
    "store_improvements" JSONB,
    "submitted_at" TIMESTAMPTZ(6),
    "technical_satisfaction" TEXT,
    "therapist_name" TEXT,
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "workflow_survey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media_articles" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "excerpt" TEXT,
    "thumbnail_url" TEXT,
    "category" TEXT NOT NULL DEFAULT 'ikejo',
    "target_audience" TEXT NOT NULL DEFAULT 'user',
    "status" TEXT NOT NULL DEFAULT 'draft',
    "author_name" TEXT DEFAULT '驕句霧莠句漁螻',
    "seo_title" TEXT,
    "seo_description" TEXT,
    "published_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "media_articles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media_tags" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "media_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media_article_tags" (
    "id" TEXT NOT NULL,
    "article_id" TEXT NOT NULL,
    "tag_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "media_article_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "banners" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "image_url" TEXT NOT NULL,
    "link_url" TEXT,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "metadata" JSONB DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "banners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_ReviewToReviewTag" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_BlogToBlogTag" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_VideoToVideoFeeling" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "_VideoToVideoTag" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "stores_slug_key" ON "stores"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "recruit_pages_store_id_section_key_key" ON "recruit_pages"("store_id", "section_key");

-- CreateIndex
CREATE UNIQUE INDEX "page_requests_slug_key" ON "page_requests"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "store_top_configs_store_id_key" ON "store_top_configs"("store_id");

-- CreateIndex
CREATE UNIQUE INDEX "first_time_configs_store_id_key" ON "first_time_configs"("store_id");

-- CreateIndex
CREATE UNIQUE INDEX "review_tags_name_key" ON "review_tags"("name");

-- CreateIndex
CREATE UNIQUE INDEX "cast_features_cast_id_key" ON "cast_features"("cast_id");

-- CreateIndex
CREATE UNIQUE INDEX "Badge_name_key" ON "Badge"("name");

-- CreateIndex
CREATE UNIQUE INDEX "price_configs_store_id_key" ON "price_configs"("store_id");

-- CreateIndex
CREATE INDEX "lh_hotel_amenities_hotel_id_idx" ON "lh_hotel_amenities"("hotel_id");

-- CreateIndex
CREATE INDEX "lh_hotel_amenities_amenity_id_idx" ON "lh_hotel_amenities"("amenity_id");

-- CreateIndex
CREATE INDEX "lh_hotel_services_hotel_id_idx" ON "lh_hotel_services"("hotel_id");

-- CreateIndex
CREATE INDEX "lh_hotel_services_service_id_idx" ON "lh_hotel_services"("service_id");

-- CreateIndex
CREATE UNIQUE INDEX "lh_purposes_name_key" ON "lh_purposes"("name");

-- CreateIndex
CREATE INDEX "lh_hotel_purposes_hotel_id_idx" ON "lh_hotel_purposes"("hotel_id");

-- CreateIndex
CREATE INDEX "lh_hotel_purposes_purpose_id_idx" ON "lh_hotel_purposes"("purpose_id");

-- CreateIndex
CREATE UNIQUE INDEX "media_articles_slug_key" ON "media_articles"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "media_tags_name_key" ON "media_tags"("name");

-- CreateIndex
CREATE UNIQUE INDEX "media_article_tags_article_id_tag_id_key" ON "media_article_tags"("article_id", "tag_id");

-- CreateIndex
CREATE UNIQUE INDEX "_ReviewToReviewTag_AB_unique" ON "_ReviewToReviewTag"("A", "B");

-- CreateIndex
CREATE INDEX "_ReviewToReviewTag_B_index" ON "_ReviewToReviewTag"("B");

-- CreateIndex
CREATE UNIQUE INDEX "_BlogToBlogTag_AB_unique" ON "_BlogToBlogTag"("A", "B");

-- CreateIndex
CREATE INDEX "_BlogToBlogTag_B_index" ON "_BlogToBlogTag"("B");

-- CreateIndex
CREATE UNIQUE INDEX "_VideoToVideoFeeling_AB_unique" ON "_VideoToVideoFeeling"("A", "B");

-- CreateIndex
CREATE INDEX "_VideoToVideoFeeling_B_index" ON "_VideoToVideoFeeling"("B");

-- CreateIndex
CREATE UNIQUE INDEX "_VideoToVideoTag_AB_unique" ON "_VideoToVideoTag"("A", "B");

-- CreateIndex
CREATE INDEX "_VideoToVideoTag_B_index" ON "_VideoToVideoTag"("B");

-- AddForeignKey
ALTER TABLE "recruit_pages" ADD CONSTRAINT "recruit_pages_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "store_top_configs" ADD CONSTRAINT "store_top_configs_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "first_time_configs" ADD CONSTRAINT "first_time_configs_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Schedule" ADD CONSTRAINT "Schedule_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Schedule" ADD CONSTRAINT "Schedule_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reviews" ADD CONSTRAINT "reviews_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GalleryItem" ADD CONSTRAINT "GalleryItem_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CastProfile" ADD CONSTRAINT "CastProfile_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_features" ADD CONSTRAINT "cast_features_appearance_id_fkey" FOREIGN KEY ("appearance_id") REFERENCES "feature_master"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_features" ADD CONSTRAINT "cast_features_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_features" ADD CONSTRAINT "cast_features_face_id_fkey" FOREIGN KEY ("face_id") REFERENCES "feature_master"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_features" ADD CONSTRAINT "cast_features_mbti_id_fkey" FOREIGN KEY ("mbti_id") REFERENCES "feature_master"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_features" ADD CONSTRAINT "cast_features_personality_id_fkey" FOREIGN KEY ("personality_id") REFERENCES "feature_master"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_store_memberships" ADD CONSTRAINT "cast_store_memberships_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cast_store_memberships" ADD CONSTRAINT "cast_store_memberships_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CastBadge" ADD CONSTRAINT "CastBadge_badge_id_fkey" FOREIGN KEY ("badge_id") REFERENCES "Badge"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CastBadge" ADD CONSTRAINT "CastBadge_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "blogs" ADD CONSTRAINT "blogs_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "blog_images" ADD CONSTRAINT "blog_images_blog_id_fkey" FOREIGN KEY ("blog_id") REFERENCES "blogs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Video" ADD CONSTRAINT "Video_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VideoCast" ADD CONSTRAINT "VideoCast_cast_id_fkey" FOREIGN KEY ("cast_id") REFERENCES "casts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VideoCast" ADD CONSTRAINT "VideoCast_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "Video"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RecruitPhoto" ADD CONSTRAINT "RecruitPhoto_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "RecruitApplication"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "price_configs" ADD CONSTRAINT "price_configs_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "courses" ADD CONSTRAINT "courses_price_config_id_fkey" FOREIGN KEY ("price_config_id") REFERENCES "price_configs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "course_plans" ADD CONSTRAINT "course_plans_course_id_fkey" FOREIGN KEY ("course_id") REFERENCES "courses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transport_areas" ADD CONSTRAINT "transport_areas_price_config_id_fkey" FOREIGN KEY ("price_config_id") REFERENCES "price_configs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "price_options" ADD CONSTRAINT "price_options_price_config_id_fkey" FOREIGN KEY ("price_config_id") REFERENCES "price_configs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campaigns" ADD CONSTRAINT "campaigns_price_config_id_fkey" FOREIGN KEY ("price_config_id") REFERENCES "price_configs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_amenities" ADD CONSTRAINT "lh_hotel_amenities_amenity_id_fkey" FOREIGN KEY ("amenity_id") REFERENCES "lh_amenities"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_amenities" ADD CONSTRAINT "lh_hotel_amenities_hotel_id_fkey" FOREIGN KEY ("hotel_id") REFERENCES "lh_hotels"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_services" ADD CONSTRAINT "lh_hotel_services_hotel_id_fkey" FOREIGN KEY ("hotel_id") REFERENCES "lh_hotels"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_services" ADD CONSTRAINT "lh_hotel_services_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "lh_services"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_purposes" ADD CONSTRAINT "lh_hotel_purposes_hotel_id_fkey" FOREIGN KEY ("hotel_id") REFERENCES "lh_hotels"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_hotel_purposes" ADD CONSTRAINT "lh_hotel_purposes_purpose_id_fkey" FOREIGN KEY ("purpose_id") REFERENCES "lh_purposes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lh_reviews" ADD CONSTRAINT "lh_reviews_hotel_id_fkey" FOREIGN KEY ("hotel_id") REFERENCES "lh_hotels"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "media_article_tags" ADD CONSTRAINT "media_article_tags_article_id_fkey" FOREIGN KEY ("article_id") REFERENCES "media_articles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "media_article_tags" ADD CONSTRAINT "media_article_tags_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "media_tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ReviewToReviewTag" ADD CONSTRAINT "_ReviewToReviewTag_A_fkey" FOREIGN KEY ("A") REFERENCES "reviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ReviewToReviewTag" ADD CONSTRAINT "_ReviewToReviewTag_B_fkey" FOREIGN KEY ("B") REFERENCES "review_tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_BlogToBlogTag" ADD CONSTRAINT "_BlogToBlogTag_A_fkey" FOREIGN KEY ("A") REFERENCES "blogs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_BlogToBlogTag" ADD CONSTRAINT "_BlogToBlogTag_B_fkey" FOREIGN KEY ("B") REFERENCES "blog_tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VideoToVideoFeeling" ADD CONSTRAINT "_VideoToVideoFeeling_A_fkey" FOREIGN KEY ("A") REFERENCES "Video"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VideoToVideoFeeling" ADD CONSTRAINT "_VideoToVideoFeeling_B_fkey" FOREIGN KEY ("B") REFERENCES "VideoFeeling"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VideoToVideoTag" ADD CONSTRAINT "_VideoToVideoTag_A_fkey" FOREIGN KEY ("A") REFERENCES "Video"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VideoToVideoTag" ADD CONSTRAINT "_VideoToVideoTag_B_fkey" FOREIGN KEY ("B") REFERENCES "VideoTag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

